<html>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <fieldset>
            <legend>Edit and confirm Book {{ item.title }}</legend>

           

                Category:
                <select name="category" id="category" required>
                    {% for value, display in categories %}
                        <option value="{{ value }}" {% if value == item.category %} selected {% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>
            </div>


            <div>
                Stock:
                <input type="number" name="stock_quantity" value="{{ item.stock_quantity }}" required />
            </div>

            <div>
                Price:
                <input type="number" name="price" value="{{ item.price }}" required />

            </div>

            <div>
                <label for="image">Image:</label>
                <input type="file" name="image" accept="image/*" />
                <p>Current image: <img src="{{ item.image.url }}" alt="{{ item.name }}" width="100" /></p>
            </div>

            <button type="submit">Update/Confirm Item</button> <br> <br>
            <a href="{% url 'onlinelibrary:itemdetail' item.id %}">Back to Item Details</a>
        </fieldset>
    </form>
    <input type="hidden" id="original-stock" value="{{ item.stock_quantity }}">
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stockInput = document.querySelector('input[name="stock_quantity"]');
        const originalStock = parseInt(document.getElementById('original-stock').value);
        const publisherName = "{{ item.publisher.name|default:'Unknown Publisher' }}";

        const form = document.querySelector('form');
        form.addEventListener('submit', function (e) {
            const newStock = parseInt(stockInput.value);
            if (newStock > originalStock) {
                const confirmOrder = confirm(`Stock increased. Order from the publisher "${publisherName}"?`);
                if (!confirmOrder) {
                    e.preventDefault(); 
                }
            }
        });
    });
</script>