{% load static %}
<style>
    .button-wrapper {
        text-align: center;
        width: 250px;
        transition: transform 0.3s ease;
    }

    .button-wrapper:hover {
        transform: scale(1.05);
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8); 
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    
    .button-wrapper .button img {
        width: 50px;  
        height: 50px;  
        object-fit: cover;  
    }


  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e76f51;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #efdede;
}

.active {
  background-color: #e76f51;
}
</style>

<body>
<ul>
<li><a href="#user">User  : Signed in as {{request.user}}</a></li>
<li><a href="{% url 'onlinelibrary:logout' %}">Log Out</a></li>
<li><a href="{% url 'onlinelibrary:home' %}">Home</a></li>
<li><a href="{% url 'onlinelibrary:viewitem' %}">View Books</a></li>
<li><a href="{% url 'onlinelibrary:view_cart' %}">Shopping Cart</a></li>
<li><a href="{% url 'onlinelibrary:loyalty_page' %}">Loyalty Rewards</a></li>
<li><a href="{% url 'onlinelibrary:purchase_history' %}">Purchase History</a></li>
{% if request.user.is_staff %}
<li><a href="{% url 'onlinelibrary:admin_user_purchases' %}">User Logs</a></li>
{% endif %}
</ul>
 


<form action = "{%url 'onlinelibrary:home' %}" method = "post">
    {% csrf_token %}
    <div class="container">
        <div class="button-container">
    
            <div class="button-wrapper">
              <h3>  <p>View available books in the library</p></h3>
                <a href="{% url 'onlinelibrary:viewitem' %}" class="button">
                    <img src="{% static 'bookicon.png' %}" alt="View Available Books" />
                </a>
            </div>
            </div>

        

          
        
        </div>

        {% if user.is_staff %}
        <div class="container">
            <div class="button-container">
        <div class="button-wrapper">
       
            <p><h3>Add new books to the library</h3></p>  
            <a href="{% url 'onlinelibrary:additem' %}" class="button">
            <img src="{% static 'bookiconplus.png' %}" alt="Add new books" />
        </a>
     
    </div>
</div>
</div>
{% endif %}
<br> <br>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}


</body>
